
	<%- include('inc/head-pagina') -%>
	<%- include('inc/menu-pagina') -%>
	<%- include('inc/header-padrao') -%>

	<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-12">
						<div class="col-md-6 animate-box">
						<h3>Entre em Contato</h3>
						
						<form action="" method="POST" id="contato">
	
							<div class="row form-group">
								<div class="col-md-12">
									<label class="sr-only" for="name">Nome</label>
									<input type="text" id="name" name="name" class="form-control" required autocomplete="off" tabindex="1" placeholder="Seu nome">
								</div>
								<div class="item-text input-error"></div> 
							</div>
	
							<div class="row form-group">
								<div class="col-md-12">
									<label class="sr-only" for="email">E-mail</label>
									<input type="email" title="Por favor preencha o seu email válido" name="email" class="form-control" tabindex="2" id="email" required placeholder="Adicionar um e-mail válido" autocomplete="off">
								</div>
								<div class="item-text input-error"></div> 
							</div>
							
							<div class="row form-group">
								<div class="col-md-12">
									<label class="sr-only" for="message">Mensagem</label>
									<textarea name="message" id="message" cols="30" rows="10" class="form-control" required autocomplete="off" tabindex="3" placeholder="Escreve alguma coisa"></textarea>
								</div>
								<div class="item-text input-error"></div> 
							</div>
							
							<div class="form-group">
								<input type="submit" value="Enviar" name="enviar" id="enviar" class="btn btn-primary">
							</div>
	
						</form>		
					</div>
					<div class="col-md-5 col-md-push-1 animate-box">
						
						<div class="gtco-contact-info">
							<h3>Informações de Contato</h3>
							<ul>
								<li class="address">Avenida, R. José Versolato, 454545 - 17ª andar - Centro, São Paulo - SP,00000-730</li>
								<li class="phone"><a href="tel://11983330842">(11) 98333-0842</a></li>
								<li class="email"><a href="mailto:itasouza@yahoo.com.br">itasouza@yahoo.com.br</a></li>
								<li class="url"><a href="http://www.yahoo.com.br">yahoo.com.br</a></li>
							</ul>
						</div>
	
	
					</div>
					</div>
				</div>
			</div>
	</div>

	<%- include('inc/footer-pagina') -%>

